html {
  position: relative;
  min-height: 100%;
}

body {
/*  padding-top: 0px; */
  margin-bottom: 40px;
}

#map {
  height: 600px; 
}

.header {
  padding-top: 25px;  
}


.text-title {
  color: #fafafa;
  color: #f6f6f6;
  font-size: 250%;
  font-weight: 700; 
  line-height: 1.2em;
  word-spacing: 10px; 
  text-shadow: 1px 1px 0px #2a2a2a;
}

.header-bg {
/*  background-image: url('/common/images/clouds_texture2877.jpg');*/
  background-image: url('/uploads/public/images/header_madeira3.jpg');
  background-size: 100%;
  z-index: -1;
  display: block;
}
/*
.side-column {
  background-image: url('/common/images/bg/gplaypattern_@2X.png');
  background-image: url('/common/images/bg/gplaypattern.png');
  background-image: url('/common/images/bg/grid_noise_@2X.png');
  background-image: url('/common/images/bg/grid_noise.png');
  background-image: url('/common/images/bg/paper_@2X.png');
  background-image: url('/common/images/bg/paper.png');
  background-image: url('/common/images/bg/polaroid_@2X.png');
  background-image: url('/common/images/bg/polaroid.png');
  background-image: url('/common/images/bg/shattered_@2X.png');
  background-image: url('/common/images/bg/shattered.png');


  background-image: url('/common/images/bg/grid_noise.png');


  height: 400px;
}
*/

body {
/*  background-image: url('/common/images/bg/gplaypattern_@2X.png') ; */
}

#main-container {
  background-color: white;
}



.main-menu-text {
  font-size: 18px;
  font-weight: bold;
}  

.main-menu-not-active {
  color: #3c85c4 !important;
  background-color: #dde5ec !important;
  text-shadow: 1px 0px 0px white;
}

.main-menu-not-active:hover,
.main-menu-not-active:focus {
  background-color: #d0d6e5 !important;

}

.main-menu-active {
  color: #ffffff !important;
  background-color: #2c3e50 !important;
  text-shadow: 1px 0px 0px black;
  border: 1px solid #d8d8d8 !important;
}

.main-menu-active:hover,
.main-menu-active:focus {
  background-color: #2c3e50 !important;

}


.dropdown-menu {
  z-index: 99999;
}

.debug-red {
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

.debug-blue {
  border-style: solid;
  border-width: 1px;
  border-color: blue;
}


/* sticky footer - taken from http://getbootstrap.com/examples/sticky-footer/*/

.footer {

  position: absolute;
  bottom: 0;
  width: 100%;
  /* height of the footer - must be the same as margin-bottom of body  */
  height: 40px;
  background-color: #ddd;


/*

  border-style:solid;
  border-width: 1px;
  border-color: red;

  background-color: #f5f5f5;
  background-color: green;  
  */
}

/*
img.grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: none;
}
*/

.button-top {
  padding-left: 0px;
  padding-right: 0px; 
}


.login,
.login:hover,
.login:focus {
  text-decoration: none;
}

.login > div {
  color: black;
  padding-top: 10px; 
  padding-left: 0px; 
  padding-right: 0px; 
  height: 43px; 
  border: 1px solid black; 
  border-radius: 3px;
}

.login > div:hover,
.login > div:focus {
  color: #085897;
  border-color: #085897  !important;

}


/*
.loginx:hover,
.loginx:focus {
  xtext-decoration: line-through !important;
  height: 83px; 

  color: #0b6ebd;
  border-color: #0b6ebd  !important;

}
*/

.steel-blue {
  background-color: #c3dcf1;
}


.sector-box {
/*
  margin-top: 0.6rem;
  
*/  
  padding: 30px 20px 20px 20px;
  border-radius: 4px;
  border: none;
  background: #256c93;
  background: white;
  box-shadow: 0px 0px 4px #033b40 inset;
}

.sector-main-title {
  text-shadow: 2px 1px 0px #d8e0ea;
}

.sector-title {
  letter-spacing: 0.07em;
  margin-bottom: 20px;
}

.sector-box p {
  margin-top: 15px;
}

.search-box {
  cursor: pointer;
}

.modal {
  z-index: 2040;
}

/* override bootstrap */
/*
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #2c3e50;
}
*/


/*
.nav > li {
  padding: 0px 6px;
}

.nav > li > a {
  padding: 10px 5px;
}
*/

.home-pills {
  padding: 0px 6px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #e1e7e9;
}

.nav-pills > li > a {
  border-radius: 0px;
  border: 1px solid #333;
}

/**/


/*
.nav-pills > li.active > a {
  color: #ffffff;
  background-color: #2c3e50;
}

.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #2c3e50;
  background-color: red;
}
*/

a {
  color: #2196F3;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2196F3;
  text-decoration: underline;
}



.blue-triangles {
  background-image: url('/common/images/triangles_bg_1_mirror.jpg');
  background-size: 100%;
  /*background-position: 0 -100px;*/
  z-index: -1;
  display: block;
  /* background-color: #FFE51F; background-blend-mode: multiply; */
}


.panel {
  margin: 0;
}

.panel-title {
   font-size: 21px;
 }

 @media (min-width: 768px) {
  
  .informacoes-left {
    padding: 0px 30px 0px 60px; 
  }

  .informacoes-center {
    padding: 0px 45px 0px 45px;
  }

  .informacoes-right {
    padding: 0px 60px 0px 30px;
  }

 }

 @media (min-width: 1400px) {

  .informacoes-left {
    padding: 0px 60px 0px 120px;  
  }

  .informacoes-center {
    padding: 0px 90px 0px 90px;
  }

  .informacoes-right {
    padding: 0px 120px 0px 60px;
  }

 }

.form-control:focus {
  border-color: #3672b6;
}



.alert-danger {
  color: #a94442;
}


.col-xlg-1, 
.col-xlg-2, 
.col-xlg-3, 
.col-xlg-4, 
.col-xlg-5, 
.col-xlg-6, 
.col-xlg-7, 
.col-xlg-8, 
.col-xlg-9, 
.col-xlg-10,
.col-xlg-11,
.col-xlg-12  {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1400px) {
  .col-xlg-10 {
    float: left;
  }

  .col-xlg-10 {
    width: 90%;
  }
  .col-xlg-offset-1 {
    margin-left: 5%;
  }

}




/*
table {
  background-color: transparent;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
*/

.carousel-control {
  opacity: 1.0;
}

.carousel-indicators li {
  width: 16px;
  height: 16px;
}

.carousel-indicators .active {
  width: 18px;
  height: 18px;
}

.carousel-control .glyphicon-circle-arrow-left,
.carousel-control .glyphicon-circle-arrow-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .glyphicon-circle-arrow-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .glyphicon-circle-arrow-right {
  right: 50%;
  margin-right: -10px;
}

.carousel-control.left,
.carousel-control.right  {
  background-image: none;
}


.nav-border-left {
  border-left: solid;
  border-width: 1px;
  border-color: #e7e7e7;
}

.nav-border-right {
  border-right: solid;
  border-width: 1px;
  border-color: #e7e7e7;
}

#left-column {
  background-image: -webkit-linear-gradient(left, rgba(128, 170, 224, 0.5) 0%, rgba(0, 0, 0, .0001) 50%);
  background-image:      -o-linear-gradient(left, rgba(128, 170, 224, 0.5) 0%, rgba(0, 0, 0, .0001) 50%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(128, 170, 224, 0.5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(128, 170, 224, .5) 0%, rgba(0, 0, 0, .0001) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}

#right-column {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 50%, rgba(128, 170, 224, 0.5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 50%, rgba(128, 170, 224, 0.5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(128, 170, 224, 0.5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 50%, rgba(128, 170, 224, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-circle-arrow-left,
  .carousel-control .glyphicon-circle-arrow-right {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-circle-arrow-left {
    margin-left: -15px;
  }
  .carousel-control .glyphicon-circle-arrow-right {
    margin-right: -15px;
  }
  .carousel-indicators {
    bottom: 10px;
  }
}


.breadcrumb {
  border-radius: 0px;
  padding: 4px 15px;
}

.btn-home-menu {
   font-size: 18px;
  font-weight: bold;
  color: #3c85c4 !important;
 /* background-color: #dde5ec !important;*/
  text-shadow: 1px 0px 0px white;
  border-radius: 0;
  border: 1px solid #333;
}

.btn-home-menu {
 border: 1px solid #333 !important; 
}

.container-home-menu {
  padding-left: 0;  
  margin-bottom: 10px;
}



/* the xl grid size (only with 2 and 10 columns) */
.col-xl-2, .col-xl-8 .col-xxl-2, .col-xxl-8 .col-xxxl-2, .col-xxxl-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}


@media (min-width: 1250px) {
  .col-xl-8 {
    width: 78%;
  }
  .col-xl-offset-2 {
    margin-left: 12%;
  }

}

@media (min-width: 1370px) {
  .col-xxl-8 {
    width: 72%;
  }
  .col-xxl-offset-2 {
    margin-left: 14%;
  }

}

@media (min-width: 1600px) {
  .col-xxxl-8 {
    width: 60%;
  }
  .col-xxxl-offset-2 {
    margin-left: 20%;
  }

}








/* rede convergir */

.center-container {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0;

    width: 100%;
    height: 60%;
    text-align: center;
    overflow: auto;
}

.center-container:after,
.center-block {
    display: inline-block;
    vertical-align: middle;
}

.center-container:after {
    content: '';
    height: 100%;
    margin-left: -0.25em; /* To offset spacing. May vary by font */
}


.center-block {
    max-width: 98%; /* Prevents issues with long content causes the content block to be pushed to the top */
    /* max-width: calc(100% - 0.25em) /* Only for IE9+ */
}



* {
    font-family: 'Lato', sans-serif;
}



.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.btn-outlined.btn-theme {
    background: none;
    color: #6f5499;
  border-color: #6f5499;
}

.btn-outlined.btn-theme:hover,
.btn-outlined.btn-theme:active {
    color: #FFF;
    background: #6f5499;
    border-color: #6f5499;
}

.btn-outlined.btn-black {
    background: none;
    color: #000000;
  border-color: #000000;
}

.btn-outlined.btn-black:hover,
.btn-outlined.btn-black:active {
    color: #FFF;
    background: #000000;
    border-color: #000000;
}

.btn-outlined.btn-white {
    background: none;
    color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-outlined.btn-white:hover,
.btn-outlined.btn-white:active {
    color: #6f5499;
    background: #FFFFFF;
    border-color: #FFFFFF;
}